//
// ~/.config/niri/config.kdl
//

// https://yalter.github.io/niri/Configuration:-Introduction

// General =====================================================================

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/%Y-%m-%d__%H-%M-%S.png"
spawn-at-startup "qs" "-c" "noctalia-shell"

hotkey-overlay {
  skip-at-startup
}

environment {
  QT_QPA_PLATFORMTHEME "gtk3"
}

// Input =======================================================================
// https://yalter.github.io/niri/Configuration:-Input

cursor {
  xcursor-theme "Vimix-cursors"
  xcursor-size  22
}

input {
  // warp-mouse-to-focus
  // focus-follows-mouse max-scroll-amount="0%"

  keyboard {
    // numlock

    xkb {
      layout "us"
      options "compose:ralt"
    }
  }

  touchpad {
    // off
    // disabled-on-external-mouse
    tap
    // dwt
    // dwtp
    // drag false
    // drag-lock
    natural-scroll
    // scroll-method "two-finger"
    accel-profile "flat"
    accel-speed 0.2
  }

  mouse {
    // off
    accel-profile "flat"
    accel-speed 0.2
    // natural-scroll
    // scroll-method "no-scroll"
  }

  trackpoint {
    // off
    // natural-scroll
    // accel-speed 0.2
    // accel-profile "flat"
    // scroll-method "on-button-down"
    // scroll-button 273
    // scroll-button-lock
    // middle-emulation
  }
}

// Output ======================================================================
// https://yalter.github.io/niri/Configuration:-Outputs

// output "eDP-1" {
//   // Uncomment this line to disable this output.
//   // off
// 
//   // Resolution and, optionally, refresh rate of the output.
//   // The format is "<width>x<height>" or "<width>x<height>@<refresh rate>".
//   // If the refresh rate is omitted, niri will pick the highest refresh rate
//   // for the resolution.
//   // If the mode is omitted altogether or is invalid, niri will pick one automatically.
//   // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
//   mode "1920x1080@60"
// 
//   // You can use integer or fractional scale, for example use 1.5 for 150% scale.
//   scale 2
// 
//   // Transform allows to rotate the output counter-clockwise, valid values are:
//   // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
//   transform "normal"
// 
//   // Position of the output in the global coordinate space.
//   // This affects directional monitor actions like "focus-monitor-left", and cursor movement.
//   // The cursor can only move between directly adjacent outputs.
//   // Output scale and rotation has to be taken into account for positioning:
//   // outputs are sized in logical, or scaled, pixels.
//   // For example, a 3840×2160 output with scale 2.0 will have a logical size of 1920×1080,
//   // so to put another output directly adjacent to it on the right, set its x to 1920.
//   // If the position is unset or results in an overlap, the output is instead placed
//   // automatically.
//   position x=1280 y=0
// }

// output "HDMI-A-1" {
//   mode "2560x1080@60"
// }


// Layout ======================================================================
// https://yalter.github.io/niri/Configuration:-Layout

layout {
  gaps 0
  center-focused-column "always"
  default-column-display "tabbed"
  default-column-width { proportion 0.33333; }
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  focus-ring {
    off

    active-color "#665c54"
    inactive-color "#3c3836"
  }

  border {
    on
    // off
    width 2
    active-color "#7c6f64"
    inactive-color "#3c3836"
    urgent-color "#9b0000"
  }

  tab-indicator {
    on
    hide-when-single-tab
    // place-within-column
    gap 0
    width 10
    length total-proportion=1.0
    position "right"
    gaps-between-tabs 0
    corner-radius 0
    active-color "#7c6f64"
    inactive-color "#3c3836"
    urgent-color "#9b0000"
  }

  shadow {
    // on
    off
    softness 30
    spread 5
    offset x=0 y=5
    color "#0007"
  }

  // Struts shrink the area occupied by windows.
  struts {
    // left 64
    // right 64
    // top 64
    // bottom 64
  }
}

// Animation ===================================================================
// https://yalter.github.io/niri/Configuration:-Animations

animations {
  on
  slowdown 0.8
}

// Window-Rules ================================================================
// https://yalter.github.io/niri/Configuration:-Window-Rules

window-rule {
  match app-id=r#"^steam_app_default$"#
  open-floating false
  default-column-width { proportion 0.6667; }
}

window-rule {
  match app-id=r#"^matplotlib$"#
  match app-id=r#"^org.matplotlib.Matplotlib3$"#
  open-focused false
}

window-rule {
  match app-id=r#"^com.hypixel.HytaleLauncher$"#
  match app-id=r#"^HytaleClient$"#
  open-floating false
  default-column-width { proportion 0.6667; }
}

window-rule {
  match app-id=r#"PrismLauncher"#
  open-floating false
}

// Keybinds ====================================================================

binds {
  // Applications such as remote-desktop clients and software KVM switches may
  // request that niri stops processing the keyboard shortcuts defined here
  // so they may, for example, forward the key presses as-is to a remote machine.
  // It's a good idea to bind an escape hatch to toggle the inhibitor,
  // so a buggy application can't hold your session hostage.
  //
  // The allow-inhibiting=false property can be applied to other binds as well,
  // which ensures niri always processes them, even when an inhibitor is active.
  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
  Mod+Shift+Slash { show-hotkey-overlay; }
  Super+Alt+L hotkey-overlay-title="Lock the Screen" { spawn-sh "qs -c noctalia-shell ipc call lockScreen lock"; }
  Mod+Shift+P { power-off-monitors; }
  Mod+Shift+E { quit; }
  Ctrl+Alt+Delete { quit; }

  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Alt+Print { screenshot-window; }

  Mod+Space hotkey-overlay-title="Application Launcher" { spawn-sh "fuzzel"; }
  Mod+E hotkey-overlay-title="Open a File Explorer" { spawn "nautilus"; }
  Mod+S hotkey-overlay-title="Open a Browser" { spawn "zen-browser"; }
  Mod+A hotkey-overlay-title="Open a Terminal" { spawn "kitty"; }

  Mod+O repeat=false { toggle-overview; }
  Mod+C repeat=false { close-window; }

  Mod+H   { focus-column-left; }
  Mod+J   { focus-window-down; }
  Mod+K   { focus-window-up; }
  Mod+L   { focus-column-right; }

  Mod+Ctrl+H   { move-column-left; }
  Mod+Ctrl+J   { move-window-down; }
  Mod+Ctrl+K   { move-window-up; }
  Mod+Ctrl+L   { move-column-right; }

  Mod+U        { focus-workspace-down; }
  Mod+I        { focus-workspace-up; }
  Mod+Ctrl+U     { move-column-to-workspace-down; }
  Mod+Ctrl+I     { move-column-to-workspace-up; }

  Mod+Shift+U     { move-workspace-down; }
  Mod+Shift+I     { move-workspace-up; }

  Mod+Shift+H   { focus-monitor-left; }
  Mod+Shift+J   { focus-monitor-down; }
  Mod+Shift+K   { focus-monitor-up; }
  Mod+Shift+L   { focus-monitor-right; }
  Mod+Shift+Ctrl+H   { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+J   { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+K   { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+L   { move-column-to-monitor-right; }

  Mod+WheelScrollDown    cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp    cooldown-ms=150 { focus-workspace-up; }
  Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
  Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

  Mod+WheelScrollRight    { focus-column-right; }
  Mod+WheelScrollLeft     { focus-column-left; }
  Mod+Ctrl+WheelScrollRight { move-column-right; }
  Mod+Ctrl+WheelScrollLeft  { move-column-left; }

  Mod+Shift+WheelScrollDown    { focus-column-right; }
  Mod+Shift+WheelScrollUp    { focus-column-left; }
  Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
  Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

  Mod+Shift+Period { expel-window-from-column; }
  Mod+Shift+Comma  { consume-window-into-column; }

  Mod+R { switch-preset-column-width; }
  Mod+Shift+R { switch-preset-window-height; }
  Mod+Ctrl+R { reset-window-height; }
  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }

  Mod+Ctrl+F { expand-column-to-available-width; }

  Mod+Q {
    spawn-sh "sed -i --follow-symlinks 's/center-focused-column \"never\"/center-focused-column \"always\"/; t; s/center-focused-column \"always\"/center-focused-column \"never\"/' ~/.config/niri/config.kdl"
  }
  Mod+Semicolon hotkey-overlay-title="center column" { center-column; }

  Mod+Ctrl+C { center-visible-columns; }

  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }

  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }

  Mod+V     { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }

  Mod+W { toggle-column-tabbed-display; }

  // Mod+Period     { switch-layout "next"; }
  // Mod+Shift+Space { switch-layout "prev"; }

  XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
  XF86AudioMute    allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
  XF86AudioMicMute   allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

  XF86AudioPlay    allow-when-locked=true { spawn-sh "playerctl play-pause"; }
  XF86AudioStop    allow-when-locked=true { spawn-sh "playerctl stop"; }
  XF86AudioPrev    allow-when-locked=true { spawn-sh "playerctl previous"; }
  XF86AudioNext    allow-when-locked=true { spawn-sh "playerctl next"; }

  XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }
}
